body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-weight-bold {
  font-weight: bold !important;
}

.card-discussion {
  cursor: pointer;
}

.card-discussion:hover {
  background-color: #f5f5f5;
}

/* Dark mode styles */
.dark-mode {
  background-color: #202020;
  color: #e0e0e0;
}

.dark-mode .bg-light {
  background-color: #242424 !important;
}

.dark-mode .text-dark {
  color: #e0e0e0 !important;
}

.dark-mode-btn {
  background-color: transparent;
  border: 0px solid currentColor;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  height: 2rem;
  outline: none;
  padding: 0;
  width: 2rem;
}

.dark-mode-btn:hover {
  opacity: 0.8;
}

.dark-mode-btn-black {
  background-color: #e0e0e0;
}

.dark-mode-btn-white {
  background-color: #000;
}

.dark-mode-btn .bi {
  font-size: 1rem;
}

/* topbar */
.heading-gym {
  color: #77b700;
}

.discussion-button {
  background-color: #1abc9c !important;
  color: #fff !important;
  border-color: #1abc9c !important;
}

.text-red {
  color: #d61818 !important;
}

/* profile page */
.profile-image {
  max-height: 300px;
}

.discussion-title {
  font-size: 1.5rem !important;
}

.card-background {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* .discussions-list {
  max-height: 600px;
  overflow-y: auto;
}

.discussions-text {
  color: black !important;
}

.discussions-list::-webkit-scrollbar {
  width: 6px;
}

.discussions-list::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 3px;
} */

/* discussion page */
.record-button {
  width: 5rem;
  height: 5rem;
}

.start-button {
  background-color: #3336ff !important; 
  border-color: #3336ff !important; 
  color: #fff;
}
.start-button:hover,
.start-button:focus {
  background-color: #333ccf !important; 
  border-color: #333ccf !important; 
  color: #fff; 
}

.stop-button {
  background-color: #ff0000 !important; 
  border-color: #ff0000 !important; 
  color: #fff;
}

.stop-button:hover,
.stop-button:focus {
  background-color: #d90000 !important; 
  border-color: #d90000 !important; 
  color: #fff; 
}

.capitalize-bold {
  text-transform: capitalize !important;
  font-weight: bold !important;
}

.user {
  color: #007bff;
  font-weight: bold;
}

.assistant {
  color: #28a745;
  font-weight: bold;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border: 1.0rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spinning 1s linear infinite;
}

/* Home page */
.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

@media screen and (max-width: 800px) {
  .text-small {
    font-size: 0.8rem !important;
  }
  .px-ns-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
