body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode styles */
.dark-mode {
  background-color: #202020;
  color: #e0e0e0;
}

.dark-mode .bg-light {
  background-color: #242424 !important;
}

.dark-mode .text-dark {
  color: #e0e0e0 !important;
}

.dark-mode-btn {
  background-color: transparent;
  border: 0px solid currentColor;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  height: 2rem;
  outline: none;
  padding: 0;
  width: 2rem;
}

.dark-mode-btn:hover {
  opacity: 0.8;
}

.dark-mode-btn-black {
  background-color: #e0e0e0;
}

.dark-mode-btn-white {
  background-color: #000;
}

.dark-mode-btn .bi {
  font-size: 1rem;
}

/* topbar */
.heading-gym {
  color: #77b700;
}

.discussion-button {
  background-color: #1abc9c !important;
  color: #fff !important;
  border-color: #1abc9c !important;
}

.text-red {
  color: #d61818 !important;
}

/* profile page */
.profile-image {
  max-height: 300px;
}

.discussion-title {
  font-size: 1.5rem !important;
}

.discussions-list {
  max-height: 600px;
  overflow-y: auto;
}

.discussions-text {
  color: black !important;
}

.discussions-list::-webkit-scrollbar {
  width: 6px;
}

.discussions-list::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 3px;
}


@media screen and (max-width: 800px) {
  .text-small {
    font-size: 0.8rem !important;
  }
  .px-ns-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Sign-in screen */
/* .container-signin-wrapper {
  padding-top: 300px;
  text-align: center;
}

.container-signin-items-wrapper {
  text-align: center;
}

.container-signin-items-wrapper h1 {
  font-size: 70px;
  color: #ffffff;
}

.container-signin-items-wrapper p {
  font-size: 30px;
  color: #ffffff;
} */

/* Home screen */
/* .nav-bar-gym {
  color: #a6ff00;
}

.nav-bar-logo {
  color: #ffffff;
}

.nav-bar-home {
  color: #ffffff;
}

.home-wrapper {
  margin-top: 150px;
  text-align: center;
}

.home-heading {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 100px;
}

.home-heading-gym {
  color: #a6ff00;
}

.home-heading-copy {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.option {
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.option-form {
  height: 50px;
}

.option-btn {
  background-color: #a6ff00 !important;
  margin-top: 10px;
  width: 300px;
  height: 60px;
  color: #0077b6 !important;
  transition: 0.5s !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.option-btn:hover {
  opacity: 0.5;
} */

/* discussion page */
/* .discussion-wrapper {
  text-align: center;
  padding-top: 200px;
} */

/* .audio-recorder {
  color:rgb(255, 255, 255);
  margin-bottom: 70px;
  color: #000000;
} */

/* .audio-start-btn {
  background-color: #a6ff00;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: #0077b6;
  font-weight: bold;
  margin-right: 50px;
  transition: 0.2s;
}

.audio-start-btn:hover {
  opacity: 0.8;
}

.audio-stop-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: #0077b6;
  font-weight: bold;
  margin-left: 50px;
  transition: 0.2s;
}
.audio-recorder-heading {
  color:rgb(255, 255, 255);
  margin-bottom: 70px;
  font-size: 80px;
  color: #000000;
}

.audio-stop-btn:hover {
  opacity: 0.8;
}
.finish-discussion-btn {
  background-color: #d61818;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: #0077b6;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 8px;
  transition: 0.2s;
}

.chat-history {
  color:rgb(255, 255, 255);
  margin-top: 50px;
} */

/* profile page */
/* .profile-wrapper {
  height: 500px;
  width: 100%;
  padding-top: 50px;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  margin-top: 30px;
}

.profile-img {
  height: 300px;
  width: 300px;
  float: left;
}

.username {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 0 350px;
}

.email {
  margin-left: 350px;
  color: #a6ff00;
  font-size: 20px;
  margin-bottom: 50px;
}

.choose-file {
  margin-left: 50px;
  width: 300px;
}

.upload-btn-wrapper {
  margin-left: 300px;
  padding-left: 50px;
}

.profile-wrapper input {
  width: 600px;
  margin-left: 50px;
}

.profile-wrapper input[type=file]::file-selector-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #0077b6;
  font-weight: bold;
  transition: 0.2s;
  display: block;
  cursor: pointer;
}

.profile-wrapper input[type=file]::file-selector-button:hover {
  opacity: 0.7;
}

.upload-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #a6ff00;
  color: #0077b6;
  font-weight: bold;
  transition: 0.5s;
  display: block;
  margin-top: 30px
}

.upload-btn:hover {
  opacity: 0.7;
}

.chat-history-wrapper {
  margin-top: 100px;
  width: 100%;
  border-top: 2px solid #ffffff;
}

.chat-history-wrapper h1 {
  color:rgb(255, 255, 255);
  margin-top: 30px;
  font-size: 30px;
}

.chat-history-list {
  list-style: number;
}

.chat-history-list-item {
  color:rgb(255, 255, 255);
  font-size: 20px;
} */